input{
  margin: 10px auto;
}

img.pest-image{
  max-height: 300px;
  margin: auto;
  justify-self: center;
  max-width: 80%;
}

.input-fields{
  display: flex;
  flex-direction: column;;
}

.logo{
  margin-bottom: 0;
}

.pest-info{
  border: 2px solid black;
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.pest-results{
  border: 2px solid grey;
  background-color: white;
  margin: 3px 0;
  width: 25%;
}

div.pest-results-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}