input{
  margin: 10px auto;
}

.additional-notes{
  overflow: scroll;
  height: 200px;
}

.customer-form{
  margin: 20px;
  margin-right: 10%;
}

img.pest-image{
  max-height: 300px;
  margin: auto;
  justify-self: center;
  max-width: 80%;
}

.input-fields{
  display: flex;
  flex-direction: column;;
}

.form-container{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.form-logo{
  margin-bottom: 0;
  width: 300px;
}

.pest-info{
  border: 2px solid black;
  max-width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.pest-info-container{
  justify-content: right;
}



.pest-results{
  border: 2px solid grey;
  background-color: white;
  margin: 3px 0;
  width: 25%;
}

div.pest-results-container{
  justify-self: right;
}